{% extends 'main/base.html' %}

{% block title %}
    Сторінка про мене
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h1 class="card-title">About Us Information</h1>
                        <p class="card-text">Marian Hrab is a third-year student who has a passion for video games, coding, and working in technical support. As a student, Marian is dedicated to his studies and is currently enrolled in a course, focusing on developing his skills and knowledge. In his free time, Marian enjoys playing video games, immersing themselves in virtual worlds and exploring different gaming experiences. Alongside his academic pursuits, Marian also works in technical support, where they assist users in troubleshooting and resolving technical issues. His experience in this field allows them to apply his technical knowledge and problem-solving abilities to help others effectively. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
